# Data Cleaning a preprocessing for models 

Projected data was gathered from NASA and can be found here: https://www.nccs.nasa.gov/services/climate-data-services

In [1]:
#import 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns



import statsmodels.api as sm
import warnings
warnings.filterwarnings('ignore')
from scipy.stats.stats import pearsonr
%matplotlib inline

In [2]:
df = pd.read_csv('data/thisisdf.csv')

In [3]:
mitigation= pd.read_csv('data/Data2/mitigation_final.csv')

In [5]:
mitigation

,Year,mitigation,temp_with_mitigation,precip_mitigation,precip_with_mitigation,Country,cereals,potatoes,beans,sugar,...,Surface temperature anomaly,Population,yield_change,yield_percent_change,goal_percent_change,yield_goal_diff,temp_anomalies,temp_pct_change,precip_change,precip_temp
0,2000,0.52,20.089,0.029,9.165,Afghanistan,8063.0,167857.0,0.0,190000.0,...,1.42,2.078000e+07,-4794.0,-0.012932,0.024,0.036932,16.917833,0.021685,-0.175624,24.650437
1,2000,0.52,20.089,0.029,9.165,Albania,31751.0,141228.0,11200.0,0.0,...,0.98,3.129000e+06,633.0,0.003188,0.024,0.020812,14.726583,0.024547,-0.098159,133.761891
2,2000,0.52,20.089,0.029,9.165,Algeria,8833.0,166143.0,3273.0,0.0,...,0.85,3.104200e+07,7371.0,0.038999,0.024,-0.014999,24.882250,-0.018042,-0.366763,13.046641
3,2000,0.52,20.089,0.029,9.165,Angola,5644.0,29885.0,3855.0,372340.0,...,0.80,1.639500e+07,-3175.0,-0.005105,0.024,0.029105,23.160667,0.010408,-0.097465,197.080341
4,2000,0.52,20.089,0.029,9.165,Argentina,34725.0,277566.0,10760.0,657143.0,...,-0.35,3.687100e+07,95288.0,0.093021,0.024,-0.069021,14.400500,-0.035783,0.300320,85.136713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16379,2100,2.36,21.929,6.540,15.676,Vietnam,NaN,NaN,NaN,NaN,...,NaN,9.743729e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16380,2100,2.36,21.929,6.540,15.676,Western Sahara,NaN,NaN,NaN,NaN,...,NaN,1.383773e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16381,2100,2.36,21.929,6.540,15.676,Yemen,NaN,NaN,NaN,NaN,...,NaN,5.317132e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16382,2100,2.36,21.929,6.540,15.676,Zambia,NaN,NaN,NaN,NaN,...,NaN,8.154620e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16383,2100,2.36,21.929,6.540,15.676,Zimbabwe,NaN,NaN,NaN,NaN,...,NaN,3.096542e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
mitigation = mitigation.sort_values(['Country', 'Year'])

In [7]:
#Temperature mitigation
#Temperature mitigation

temps_2000 = df[df['Year'] == 2010][['AverageTemperature', 'Country']]

temps_2000['Year'] = 2000

temps_2000['temp_anoms'] = 0

temps_2000.rename(columns = {'AverageTemperature': 'Temperature Projected'}, inplace = True)

temps_2100 = temps_2000.copy()

temps_2100['Temperature Projected'] = temps_2000['Temperature Projected'] + 2.36

temps_2100['Year'] = 2100

temps_2100['temp_anoms'] = (temps_2100['Temperature Projected'] - temps_2000['Temperature Projected']) * 6
temps_full_mitigation = pd.concat([temps_2100, temps_2000])

temps_full_mitigation.reset_index(drop = True)
temps_full_mitigation

#precip_mitigation 

precip_2000 = df[df['Year'] == 2010][['Average monthly precipitation', 'Country']]

precip_2000['Year'] = 2000


precip_2000.rename(columns = {'Average monthly precipitation': 'Precipitation Projected'}, inplace = True)

precip_2100 = precip_2000.copy()

precip_2100['Precipitation Projected'] = precip_2000['Precipitation Projected'] + (precip_2000['Precipitation Projected'] *.06)

precip_2100['Year'] = 2100

precip_full_mitigation = pd.concat([precip_2100, precip_2000])

precip_full_mitigation.reset_index(drop = True)
precip_full_mitigation

      Precipitation Projected            Country  Year
49                   1.818899        Afghanistan  2100
102                 14.893957            Albania  2100
155                  0.824651            Algeria  2100
208                  9.438209             Angola  2100
261                  4.987031          Argentina  2100
...                       ...                ...   ...
7487                 9.572493             Zambia  2000
7540                 5.102340           Zimbabwe  2000
7593                 5.925236            Iceland  2000
7648                27.365833              Samoa  2000
7701                19.896111  Equatorial Guinea  2000

[320 rows x 3 columns]

In [8]:
temps_full_mitigation

      Temperature Projected            Country  Year  temp_anoms
49                18.188667        Afghanistan  2100       14.16
102               16.135417            Albania  2100       14.16
155               27.575667            Algeria  2100       14.16
208               25.041500             Angola  2100       14.16
261               17.438833          Argentina  2100       14.16
...                     ...                ...   ...         ...
7487              22.267500             Zambia  2000        0.00
7540              21.986250           Zimbabwe  2000        0.00
7593               2.676417            Iceland  2000        0.00
7648              27.161667              Samoa  2000        0.00
7701              25.902500  Equatorial Guinea  2000        0.00

[320 rows x 4 columns]

In [9]:
mit = pd.merge(precip_full_mitigation,temps_full_mitigation, how = 'left', left_on = ['Year', 'Country'], right_on = ['Year', 'Country'])

mit

,Precipitation Projected,Country,Year,Temperature Projected,temp_anoms
0,1.818899,Afghanistan,2100,18.188667,14.16
1,14.893957,Albania,2100,16.135417,14.16
2,0.824651,Algeria,2100,27.575667,14.16
3,9.438209,Angola,2100,25.041500,14.16
4,4.987031,Argentina,2100,17.438833,14.16
...,...,...,...,...,...
335,9.572493,Zambia,2000,22.267500,0.00
336,5.102340,Zimbabwe,2000,21.986250,0.00
337,5.925236,Iceland,2000,2.676417,0.00
338,27.365833,Samoa,2000,27.161667,0.00
339,19.896111,Equatorial Guinea,2000,25.902500,0.00

In [11]:
mitigation_merged = pd.merge(mitigation, mit, how = 'left', left_on = ['Year', 'Country'], right_on = ['Year', 'Country'])

mitigation_merged

,Year,mitigation,temp_with_mitigation,precip_mitigation,precip_with_mitigation,Country,cereals,potatoes,beans,sugar,...,yield_percent_change,goal_percent_change,yield_goal_diff,temp_anomalies,temp_pct_change,precip_change,precip_temp,Precipitation Projected,Temperature Projected,temp_anoms
0,2000,0.52,20.089,0.02900,9.16500,Afghanistan,8063.0,167857.0,0.0,190000.0,...,-0.012932,0.024,0.036932,16.917833,0.021685,-0.175624,24.650437,1.715942,15.828667,0.00
1,2001,0.75,20.319,0.18852,9.32452,Afghanistan,10067.0,167857.0,0.0,190000.0,...,0.005477,0.024,0.018523,17.448083,0.031343,-0.049079,23.864507,NaN,NaN,NaN
2,2002,0.91,20.479,0.34804,9.48404,Afghanistan,16698.0,164286.0,0.0,190000.0,...,0.008317,0.024,0.015683,17.317667,-0.007475,0.413284,33.213400,NaN,NaN,NaN
3,2003,0.74,20.309,0.50756,9.64356,Afghanistan,14580.0,166667.0,0.0,181818.0,...,-0.021346,0.024,0.045346,15.996000,-0.076319,0.064549,33.942645,NaN,NaN,NaN
4,2003,0.74,20.309,0.50756,9.64356,Afghanistan,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16424,2096,2.46,22.029,6.46800,15.60400,Zimbabwe,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16425,2097,2.34,21.909,6.48600,15.62200,Zimbabwe,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16426,2098,2.44,22.009,6.50400,15.64000,Zimbabwe,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16427,2099,2.46,22.029,6.52200,15.65800,Zimbabwe,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16428,2100,2.36,21.929,6.54000,15.67600,Zimbabwe,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.408480,24.346250,14.16

In [12]:
mitigation_merged.sort_values(['Country', 'Year'], inplace = True)

mitigation_merged['Temperature Projected'].interpolate(inplace = True)

mitigation_merged['temp_anoms'].interpolate(inplace = True)

mitigation_merged['Precipitation Projected'].interpolate(inplace = True)

mitigation_merged['temp_pct_change'] = (mitigation_merged['Temperature Projected'].pct_change()) * 100

mitigation_merged['precip_change'] = (mitigation_merged['Precipitation Projected'].pct_change()) * 100

## Do all the same for no mitigation

In [13]:
no_mitigation = pd.read_csv('data/Data2/no_mitigation_final.csv')

In [14]:
#Temperature no mitigation

temps_2000_no = df[df['Year'] == 2000][['AverageTemperature', 'Country']]

temps_2000_no['Year'] = 2000

temps_2000_no['temp_anoms'] = 0
temps_2000_no.rename(columns = {'AverageTemperature': 'Temperature Projected'}, inplace = True)

temps_2100_no = temps_2000_no.copy()

temps_2100_no['Temperature Projected'] = temps_2000_no['Temperature Projected'] + 9.89

temps_2100_no['temp_anoms'] = (temps_2100_no['Temperature Projected'] - temps_2000_no['Temperature Projected']) *6

temps_2100_no['Year'] = 2100

temps_no_mitigation = pd.concat([temps_2100_no, temps_2000_no])


temps_no_mitigation.reset_index(drop = True)
temps_no_mitigation

#precip_no_mitigation 

precip_2000_no = df[df['Year'] == 2000][['Average monthly precipitation', 'Country']]

precip_2000_no['Year'] = 2000


precip_2000_no.rename(columns = {'Average monthly precipitation': 'Precipitation Projected'}, inplace = True)

precip_2100_no = precip_2000_no.copy()

precip_2100_no['Precipitation Projected'] = precip_2000_no['Precipitation Projected'] - (precip_2000_no['Precipitation Projected'] *.24)

precip_2100_no['Year'] = 2100

precip_no_mitigation = pd.concat([precip_2100_no, precip_2000_no])

precip_no_mitigation.reset_index(drop = True)
precip_no_mitigation

      Precipitation Projected            Country  Year
49                   1.304116        Afghanistan  2100
102                 10.678686            Albania  2100
155                  0.591259            Algeria  2100
208                  6.767017             Angola  2100
261                  3.575607          Argentina  2100
...                       ...                ...   ...
7487                 9.572493             Zambia  2000
7540                 5.102340           Zimbabwe  2000
7593                 5.925236            Iceland  2000
7648                27.365833              Samoa  2000
7701                19.896111  Equatorial Guinea  2000

[320 rows x 3 columns]

In [15]:
temps_full_mitigation

      Temperature Projected            Country  Year  temp_anoms
49                18.188667        Afghanistan  2100       14.16
102               16.135417            Albania  2100       14.16
155               27.575667            Algeria  2100       14.16
208               25.041500             Angola  2100       14.16
261               17.438833          Argentina  2100       14.16
...                     ...                ...   ...         ...
7487              22.267500             Zambia  2000        0.00
7540              21.986250           Zimbabwe  2000        0.00
7593               2.676417            Iceland  2000        0.00
7648              27.161667              Samoa  2000        0.00
7701              25.902500  Equatorial Guinea  2000        0.00

[320 rows x 4 columns]

In [16]:
no_mit = pd.merge(precip_no_mitigation,temps_no_mitigation, how = 'left', left_on = ['Year', 'Country'], right_on = ['Year', 'Country'])

no_mit.sort_values(['Country', 'Year'])

,Precipitation Projected,Country,Year,Temperature Projected,temp_anoms
170,1.715942,Afghanistan,2000,15.828667,0.00
0,1.304116,Afghanistan,2100,25.718667,59.34
171,14.050903,Albania,2000,13.775417,0.00
1,10.678686,Albania,2100,23.665417,59.34
172,0.777972,Algeria,2000,25.215667,0.00
...,...,...,...,...,...
164,0.659296,Yemen,2100,37.192750,59.34
335,9.572493,Zambia,2000,22.267500,0.00
165,7.275095,Zambia,2100,32.157500,59.34
336,5.102340,Zimbabwe,2000,21.986250,0.00
166,3.877778,Zimbabwe,2100,31.876250,59.34

In [18]:
no_mitigation_merged = pd.merge(no_mitigation, no_mit, how = 'left', left_on = ['Year', 'Country'], right_on = ['Year', 'Country'])

no_mitigation_merged

,Year,reference,precip_reference,temp_no_mitigation,precip_no_mitigation,Country,cereals,potatoes,beans,sugar,...,goal_percent_change,yield_goal_diff,temp_anomalies,temp_pct_change,precip_change,precip_temp,log_pop,Precipitation Projected,Temperature Projected,temp_anoms
0,2000,0.52,0.029,20.089,9.165,Afghanistan,8063.0,167857.0,0.0,190000.0,...,0.024,0.036932,16.917833,0.021685,-0.175624,24.650437,16.849502,1.715942,15.828667,0.00
1,2000,0.52,0.029,20.089,9.165,Albania,31751.0,141228.0,11200.0,0.0,...,0.024,0.020812,14.726583,0.024547,-0.098159,133.761891,14.956224,14.050903,13.775417,0.00
2,2000,0.52,0.029,20.089,9.165,Algeria,8833.0,166143.0,3273.0,0.0,...,0.024,-0.014999,24.882250,-0.018042,-0.366763,13.046641,17.250852,0.777972,25.215667,0.00
3,2000,0.52,0.029,20.089,9.165,Angola,5644.0,29885.0,3855.0,372340.0,...,0.024,0.029105,23.160667,0.010408,-0.097465,197.080341,16.612487,8.903970,22.681500,0.00
4,2000,0.52,0.029,20.089,9.165,Argentina,34725.0,277566.0,10760.0,657143.0,...,0.024,-0.069021,14.400500,-0.035783,0.300320,85.136713,17.422936,4.704747,15.078833,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16265,2100,9.89,24.200,29.459,33.336,Vietnam,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11.486974,12.455693,34.723333,59.34
16266,2100,9.89,24.200,29.459,33.336,Western Sahara,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.233292,0.501541,34.004250,59.34
16267,2100,9.89,24.200,29.459,33.336,Yemen,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.881293,0.659296,37.192750,59.34
16268,2100,9.89,24.200,29.459,33.336,Zambia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11.308937,7.275095,32.157500,59.34
16269,2100,9.89,24.200,29.459,33.336,Zimbabwe,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.340659,3.877778,31.876250,59.34

In [19]:
no_mitigation_merged.sort_values(['Country', 'Year'], inplace = True)

no_mitigation_merged['Temperature Projected'].interpolate(inplace = True)

no_mitigation_merged['temp_anoms'].interpolate(inplace = True)

no_mitigation_merged['Precipitation Projected'].interpolate(inplace = True)

no_mitigation_merged['temp_pct_change'] = no_mitigation_merged['Temperature Projected'].pct_change()

no_mitigation_merged['precip_change'] = no_mitigation_merged['Precipitation Projected'].pct_change()

In [20]:
no_mitigation_merged.head()

,Year,reference,precip_reference,temp_no_mitigation,precip_no_mitigation,Country,cereals,potatoes,beans,sugar,...,goal_percent_change,yield_goal_diff,temp_anomalies,temp_pct_change,precip_change,precip_temp,log_pop,Precipitation Projected,Temperature Projected,temp_anoms
0,2000,0.52,0.02900,20.089,9.16500,Afghanistan,8063.0,167857.0,0.0,190000.0,...,0.024,0.036932,16.917833,NaN,NaN,24.650437,16.849502,1.715942,15.828667,0.000000
190,2001,0.75,0.17944,20.319,9.31544,Afghanistan,10067.0,167857.0,0.0,190000.0,...,0.024,0.018523,17.448083,0.006186,-0.002376,23.864507,16.888528,1.711865,15.926587,0.587525
349,2002,0.91,0.32988,20.479,9.46588,Afghanistan,16698.0,164286.0,0.0,190000.0,...,0.024,0.015683,17.317667,0.006148,-0.002382,33.213400,16.933505,1.707787,16.024508,1.175050
507,2003,0.96,0.48032,20.529,9.61632,Afghanistan,14580.0,166667.0,0.0,181818.0,...,0.024,0.045346,15.996000,0.006111,-0.002388,33.942645,16.980184,1.703710,16.122429,1.762574
665,2004,0.93,0.63076,20.499,9.76676,Afghanistan,13348.0,176471.0,0.0,200000.0,...,0.024,-0.049689,17.530917,0.006074,-0.002393,29.385955,17.023406,1.699632,16.220350,2.350099